<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="95855518"
    android:versionName="6.5.765076149"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="Baklava"
    package="com.google.android.tv.remote.service"
    platformBuildVersionCode="36"
    platformBuildVersionName="Baklava">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="36"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.HDMI_CEC"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.TV_VIRTUAL_REMOTE_CONTROLLER"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.OBSERVE_SENSOR_PRIVACY"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_LOW_POWER_STANDBY_PORTS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_LOW_POWER_STANDBY"/>
    <uses-permission android:name="com.google.android.tv.permission.FIND_MY_REMOTE"/>
    <uses-permission android:name="android.permission.SET_LOW_POWER_STANDBY_PORTS"/>
    <queries>
        <intent>
            <action android:name="com.google.android.tv.FIND_MY_REMOTE"/>
        </intent>
    </queries>
    <permission
        android:name="com.google.android.tv.remote.service.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <application
        android:label="@string/atv_remote_service_app_name"
        android:icon="@mipmap/ic_launcher_tvremote"
        android:name="com.google.android.tv.remote.service.AtvRemoteServiceApplication"
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="false"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="@string/preferences_license_title"
            android:name="com.google.android.libraries.social.licenses.LicenseMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.tv.settings.VIEW_LICENSES"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.google.android.tv.remote.service.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.tv.remote.service.PackageReplacedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.tv.remote.service.RemoteService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="com.android.athome.START_SERVICE"/>
                <action android:name="com.google.android.tv.remote.service.AtvSearchAssistantService"/>
                <action android:name="com.google.android.tv.remote.service.VIRTUAL_REMOTE_IME"/>
                <action android:name="com.google.android.tv.remote.service.OnscreenRemoteService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.tv.remote.service.DiscoveryService"
            android:exported="false"
            android:singleUser="true"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:label="@string/ime_input_label"
            android:name="com.google.android.tv.remote.service.ImeBridgeService"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="false">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>
        <service
            android:label="@string/atv_remote_provider_service"
            android:name="com.google.android.tv.remote.service.AtvRemoteProviderService"
            android:permission="android.permission.BIND_TV_REMOTE_SERVICE"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.android.media.tv.remoteprovider.TvRemoteProvider"/>
            </intent-filter>
        </service>
        <service
            android:label="@string/atv_remote_search_assist_service"
            android:name="com.google.android.tv.remote.service.AtvSearchAssistantService"
            android:permission="android.permission.BIND_TV_REMOTE_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.tv.remote.service.AtvSearchAssistantService"/>
            </intent-filter>
        </service>
        <provider
            android:name="com.google.android.tv.remote.service.SearchAssistantSupportedKeyCodesProvider"
            android:exported="true"
            android:authorities="com.google.android.tv.remote.service.SearchAssistantSupportedKeyCodesProvider"/>
        <uses-library
            android:name="com.android.media.tv.remoteprovider"
            android:required="true"/>
        <service
            android:name="com.google.android.libraries.phenotype.registration.PhenotypeMetadataHolderService"
            android:enabled="false"
            android:exported="false"
            android:process="">
            <intent-filter>
                <action android:name="com.google.android.libraries.phenotype.registration.PhenotypeMetadataHolderService"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.phenotype.heterodyne_info.binarypb:com.google.android.gms.clearcut_client"
                android:resource="@raw/com_google_android_gms_clearcut_client_heterodyne_info"/>
            <meta-data
                android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.gms.clearcut_client"
                android:resource="@raw/com_google_android_gms_clearcut_client_registration_info"/>
            <meta-data
                android:name="com.google.android.gms.phenotype.heterodyne_info.binarypb:com.google.android.libraries.consentverifier"
                android:resource="@raw/com_google_android_libraries_consentverifier_heterodyne_info"/>
            <meta-data
                android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.libraries.consentverifier"
                android:resource="@raw/com_google_android_libraries_consentverifier_registration_info"/>
            <meta-data
                android:name="com.google.android.gms.phenotype.heterodyne_info.binarypb:com.google.android.gms.usagereporting"
                android:resource="@raw/com_google_android_gms_usagereporting_heterodyne_info"/>
            <meta-data
                android:name="com.google.android.gms.phenotype.heterodyne_info.binarypb:com.google.android.libraries.performance.primes"
                android:resource="@raw/com_google_android_libraries_performance_primes_heterodyne_info"/>
            <meta-data
                android:name="com.google.android.gms.phenotype.registration.binarypb:com.google.android.libraries.performance.primes"
                android:resource="@raw/com_google_android_libraries_performance_primes_registration_info"/>
        </service>
        <meta-data
            android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.gms.clearcut_client"
            android:resource="@xml/com_google_android_gms_clearcut_client_phenotype"/>
        <meta-data
            android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.libraries.consentverifier"
            android:resource="@xml/com_google_android_libraries_consentverifier_phenotype"/>
        <meta-data
            android:name="com.google.android.gms.phenotype.registration.xml:com.google.android.libraries.performance.primes"
            android:resource="@xml/com_google_android_libraries_performance_primes_phenotype"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <receiver
            android:name="com.google.android.libraries.appdoctor.AppDoctorReceiver"
            android:permission="com.google.android.gms.permission.INTERNAL_BROADCAST"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.libraries.appdoctor.ACTION_TELE_DOCTOR_FIX"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.libraries.performance.primes.transmitter.LifeboatReceiver"
            android:exported="false"
            android:process=":primes_lifeboat"/>
        <receiver
            android:name="com.google.android.libraries.phenotype.client.stable.AccountRemovedBroadcastReceiver"
            android:exported="true"
            android:process="">
            <intent-filter>
                <action android:name="android.accounts.action.ACCOUNT_REMOVED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.libraries.phenotype.client.stable.PhenotypeUpdateBackgroundBroadcastReceiver"
            android:permission="com.google.android.gms.permission.PHENOTYPE_UPDATE_BROADCAST"
            android:exported="true"
            android:process="">
            <intent-filter>
                <action android:name="com.google.android.gms.phenotype.UPDATE"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:label="@string/preferences_license_title"
            android:name="com.google.android.libraries.social.licenses.LicenseActivity"
            android:exported="false"/>
        <uses-library
            android:name="com.android.libraries.tv.tvsystem"
            android:required="false"/>
        <activity
            android:theme="@style/AmatiTheme"
            android:name="com.google.android.tv.remote.service.pairing.PairingCodeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:persistableMode="persistNever"
            android:autoRemoveFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"/>
        <service
            android:name="com.google.android.build.data.PropertiesServiceHolder"
            android:enabled="false"
            android:exported="false"
            android:process="">
            <intent-filter>
                <action android:name="com.google.android.build.data.Properties"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.build.data.properties"
                android:resource="@raw/build_data"/>
        </service>
    </application>
</manifest>
